@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Slab', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* For Safari */
  -moz-osx-font-smoothing: grayscale; /* For Firefox */
  text-rendering: optimizeLegibility; /* Enhances the legibility of the text */
  -webkit-font-smoothing: antialiased; /* Smooths the font on WebKit browsers */
  background-color: #f0f0f0; 
}

.transition-transform {
  transition: transform 0.3s ease;
}

@media (max-width: 640px) {
  h2 {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

